body{
    height: 100%;
    background-repeat: no-repeat;
    background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
    font-family: 'Oxygen', sans-serif;
    background-size: cover;
};

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button.active {
    background-color: #ccc;
}

#currUserOrders {
    max-height: 260px;
}

#currPrice {
    float:right;
}